* {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #232323;
  color: #fff;
  stroke: #424242;
}

.h1 {
  size: 4rem;
  font-weight: bold;
}

.h2 {
  size: 3rem;
  font-weight: bold;
}

.p {
  size: 1rem;
  font-weight: medium;
}

span {
  size: 1rem;
  font-weight: medium;
  background-color: #2e2e2e;
}

.small {
  size: 0.875rem;
  font-weight: Regular;
}

input {
  background: #2e2e2e;
}

button {
  background-color: #1c7ed6;
}

text {
  color: #c9c9c9;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
